---
layout: layouts/base.njk
title: About
---
<section class="page-simple">
  <h1>About Us</h1>
  <p>The Diplomatic Club of Lusaka, founded in 2015, is a non-profit international community dedicated to making a positive impact in Zambia by raising funds for charitable causes through our events.</p>
  <p>We also serve as a welcoming platform for newly arrived diplomats to build connections, integrate into the community, and gain practical insights into living in Zambia. Through shared knowledge, support, and meaningful social engagement, we help members feel at home while contributing to a greater cause.</p>
  <p>We warmly invite you to join our community and be part of an initiative that fosters connection, support, and a better future for Zambia.</p>
  <a class="button-primary" href="/apply/">Become a Member</a>
</section>
